################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoTVisualAlerts/bin/x64/Debug
/IoTVisualAlerts/obj
/.vs
/IoTVisualAlerts/.vs/IoTVisualAlerts/v15
